<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/header :: header">
    <meta charset="UTF-8">
</head>
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"></div>
<div th:replace="fragments/navigation :: navigation"></div>
<div class="container" style="max-width:600px">
    <form th:action th:object="${post}" method="post">
        <div class="py-1 form-group">
            <label class="form-check-label" for="title">제목</label>
            <input type="text" class="form-control" id="title" th:field="*{title}" placeholder="제목을 입력하세요." readonly>
        </div>
        <div class="py-1 form-group">
            <label class="form-check-label" for="content">내용</label>
            <textarea class="form-control" id="content" th:field="*{content}" rows="10" readonly></textarea>
        </div>
    </form>
    <div class="p-1 d-flex flex-row justify-content-center">
        <button id="recommend-button"
                class="btn btn-outline-primary"
                style="display:none"
                th:onclick="|recommend(${post.id})|">
            ♡
        </button>
        <button id="non-recommend-button"
                class="btn btn-primary"
                style="display:none"
                th:onclick="|recommend(${post.id})|">
            ♥
        </button>
    </div>
    <div th:if="${session.loginMember != null && session.loginMember.id == post.member.id}"
         class="d-flex flex-row justify-content-center">
        <div class="p-1">
            <a th:href="@{/board/list/{postId}/update(postId = ${post.id})}">
                <button class="btn btn-outline-secondary">수정</button>
            </a>
        </div>
        <div class="p-1">
            <a th:href="@{/board/list/{postId}/delete(postId = ${post.id})}">
                <button class="btn btn-outline-danger">삭제</button>
            </a>
        </div>
    </div>
    <div class="card m-2">
        <div class="card-header bg-light">
            <p class="fa fa-comment fa">댓글</p>
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <textarea class="form-control" rows="3"></textarea>
                    <button type="button" class="btn btn-outline-secondary mt-3">작성</button>
                </li>
            </ul>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
<script type="text/javascript" th:inline="javascript">
    init();

    function init() {
        getRecommendStatus();
    }

    // 초기 추천 상태 값
    function getRecommendStatus() {
        if ([[${recommend != null && recommend.status == T(graduation.mazerunner.domain.RecommendStatus).ON}]]) {
            document.getElementById("non-recommend-button").style.display = "block"
        } else if ([[${recommend != null && recommend.status == T(graduation.mazerunner.domain.RecommendStatus).OFF}]]) {
            document.getElementById("recommend-button").style.display = "block"
        }
    }

    // 추천 버튼 클릭 시 작동
    function recommend(id) {
        const url = "/board/list/" + id + "/recommend"

        fetch(url, {
            method: "post"
        })
            .then(res => res.json())
            .then(recommend => {
                if (recommend.status == "OFF") {
                    document.getElementById("non-recommend-button").style.display = "none"
                    document.getElementById("recommend-button").style.display = "block"
                } else if (recommend.status == "ON") {
                    document.getElementById("non-recommend-button").style.display = "block"
                    document.getElementById("recommend-button").style.display = "none"
                }
            })
    }

</script>
</body>
</html>