<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<hr>
<div th:fragment="nav">
    <div class="py-1">
        <h4>내 친구 관리</h4>
    </div>
    <div class="py-1">
        <a href="/relations/list" class="text-secondary text-decoration-none">친구 목록</a>
    </div>
    <div class="py-1">
        <a href="/relations/search" class="text-secondary text-decoration-none">친구 추가</a>
    </div>
    <div class="py-1">
        <a href="/relations/receive/request" class="text-secondary text-decoration-none">받은 친구 요청</a>
    </div>
    <div class="py-1">
        <a href="/relations/send/request" class="text-secondary text-decoration-none">보낸 친구 요청</a>
    </div>
    <div class="py-1">
        <a href="/relations/list/block" class="text-secondary text-decoration-none">차단한 친구</a>
    </div>
</div>
</html>