<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="header">
    <meta charset="UTF-8">
    <Title>CWNU RUNNER</Title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300&family=Noto+Sans+KR:wght@100&display=swap');
        body {
            font-family : 'Noto Sans KR', sans-serif;
        }
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
</html>