<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div class="mapHeader" th:fragment="mapHeader">
    <div class="container-fluid">
        <div class="d-flex flex-row justify-content-center">
            <div class="me-2">
                <p style="font-size:20px">컨텐츠를 제작하고 싶으시다면</p>
            </div>
            <div class="me-2">
                <a th:href="@{/maps/maker}">
                    <button class="btn btn-sm btn-outline-secondary">여기</button>
                </a>
            </div>
            <div class="me-2">
                <p style="font-size:20px">를 클릭하세요!</p>
            </div>
        </div>
    </div>
</div>