<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<hr>
<div class="navigation" th:fragment="navigation">
    <div class="pb-3 container" th:if="${session.loginMember == null}">
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link active text-dark" th:href="@{/members/login}">LOGIN</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active text-dark" th:href="@{/members/signup}">SIGN UP</a>
            </li>
        </ul>
    </div>
    <div class="pb-3 container" th:if="${session.loginMember != null}">
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link active text-dark" th:href="@{/members/mypage}">MY PAGE</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active text-dark" th:href="@{/members/logout}">LOGOUT</a>
            </li>
        </ul>
    </div>
<!--    <div class="container-fluid">-->
<!--        <div class="d-inline-flex">-->
<!--            <form class="d-flex justify-content-end">-->
<!--                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
<!--                <button class="btn btn-outline-secondary" type="submit">Search</button>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
</div>
</html>