<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/header :: header">
    <meta charset="UTF-8">
</head>
<body>
    <div th:replace="fragments/bodyHeader :: bodyHeader"></div>
    <div th:replace="fragments/navigation :: navigation"></div>
    <div class="p-1 d-flex flex-row justify-content-center">
        <img th:src="@{/images/main.jpg}">
    </div>
    <div class="p-1 d-flex flex-row justify-content-center">
        <div>
            <a href="/maps/list"><button class="me-2 btn btn-outline-secondary btn-lg" style="width:150px">PLAY GAME</button></a>
        </div>
        <div>
            <a href="/board/list"><button class="me-2 btn btn-outline-secondary btn-lg justify-content-center" style="width:150px">BOARD</button></a>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>